[submodule "testsuite"]
	path = testsuite
	url = https://github.com/paulhiggs/dvb-i-tools.testsuite
[submodule "testsuite2"]
	path = testsuite2
	url = https://github.com/paulhiggs/dvb-i-tools.testsuite
